#root {
  margin: 0 auto;
  text-align: center;
}

.scroll {
  margin: 0 auto;
  overflow: scroll;
  text-align: left;
  height: 20vh;
  width: 90vw;
  display: block;
}

.text {
  margin: 0 auto;
  height: 55vh;
  width: 90vw;
  /* left: 100px; */
  overflow: scroll;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.textDiv {}

.textDivChanged {
  background-color: rgb(243, 243, 243);
  width: auto;

}

.text-child {
  position: relative;
  top: 1rem;
}

label {}

.wait {
  color: red;
}

.offset {
  /* height: 1rem; */
  width: 3rem;
}

.warning {
  background-color: #f44336;
  color: white;
}

.showAnswer {
  width: 16rem;
}

.deck {
  width: 100vw;
  overflow: hidden;
  text-overflow: clip;
  /* white-space: nowrap; */
  display: none;
}

.parent {
  /* position: relative; */
}

.settingPage-warp {
  width: 99vw;
  height: 99vh;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}

.settingPage-block {
  height: 5vh;
}

.settingPage {
  /* position: relative; */
  margin: 0 auto;
  width: 85vw;
  height: 85vh;
  background-color: rgb(224, 224, 224);
}

.settingPage-div {
  height: 75vh;
  margin: 5px 0;
}

.settingPage-div label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.settingPage-div input {
  width: 10rem;
}

.settingPage-button {}

.top-bar button {
  width: 20vw;
  /* height: 2.5em; */
  /* font-size: 1em; */
}

textarea {
  width: 75vw;
  height: 6em;
}

.default {}
