#root {
  margin: 0 auto;
  text-align: center;
}

.scroll {
  margin: 0 auto;
  overflow: scroll;
  text-align: left;
  height: 15vh;
  width: 85vw;
  display: block;
}

.text {
  height: 60vh;
  width: 85vw;
  /* left: 100px; */
  overflow: scroll;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.text-child {
  position: relative;
  top: 2rem;
}

.wait {
  color: red;
}

.offset {
  /* height: 1rem; */
  width: 3rem;
}

.warning {
  background-color: #f44336;
  color: white;
}
